<footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800 h-auto md:h-80 flex items-center flex-col py-8 md:py-0">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
        <span class="text-sm text-white text-center md:text-left block md:inline-block md:relative md:left-10 dark:text-gray-400 mb-4 md:mb-0">© 2024 <a href="https://flowbite.com/" class="hover:underline">PeluqueriaMariela™</a>. All Rights Reserved.
        </span>
        <ul class="flex flex-wrap justify-center md:justify-start items-center md:relative md:right-10 mt-3 text-sm font-medium text-white dark:text-gray-400 sm:mt-0 space-x-4 md:space-x-6">
            <li>
                <a (click)="navegarAlComponente('inicio')" routerlink="/Bienvenido" class="hover:underline">Inicio</a>
            </li>
            <li>
                <a (click)="navegarAlComponente('servi')" routerlink="/Servicios" class="hover:underline">Servicios</a>
            </li>
            <li>
                <a (click)="navegarAlComponente('Galeria')" routerlink="/Galeria" class="hover:underline">Galeria</a>
            </li>
        </ul>
    </div>
    <div class="h-14 w-auto md:w-52 flex flex-row gap-3 justify-center mt-6 md:mt-0">
        <a href=""><img src="https://img.icons8.com/?size=100&id=16713&format=png&color=000000" alt="" class="h-8 md:h-10 border-b"></a>
        <a href=""><img src="https://img.icons8.com/?size=100&id=P7UIlhbpWzZm&format=png&color=000000" alt="" class="h-8 md:h-10 border-b"></a>
        <a href=""><img src="https://img.icons8.com/?size=100&id=13912&format=png&color=000000" alt="" class="h-8 md:h-10 border-b"></a>
    </div>
</footer>
