<div class="container h-96 flex flex-col items-center justify-center">

    <div class="container w-1/2 text-center mb-3 relative bottom-8">
        <h2 class="sm:text-sm md:text-lg lg:text-2xl  ">SUSCRIBITE A NUESTRO NEWSLETTER</h2>
        <h3 class="sm:text-sm md:text-md lg:text-lg">Recibí todas las novedades de la Pelu</h3>
    </div>


 <form class="max-w-sm mx-auto w-1/2 " id="formu"> 
    <label for="email" class="block mb-2 text-lg font-medium text-gray-900 dark:text-white">Ingresa tu correo</label>
    <input type="email" id="email" aria-describedby="helper-text-explanation" class="bg-gray-50 border border-gray-300 text-gray-900 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="nombre@gmail.com">
  
    <button type="submit" id="submit" class="bg-black hover:bg-blue-700 text-white font-medium text-lg rounded-lg px-4 py-3 mt-2 w-full dark:bg-blue-400 dark:text-white">Suscribete ahora</button>
    
 </form>
  



</div>
<script src="registrarcorrero.js"></script>