.navegacion{
    background-image: url(/assets/img/fondos/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
     


}

div h1{
  
    width: 700px;
    height: 100px;
    
}
div h2{
  
    width: 500px;
    height: 100px;
    
    
    
  
}


