<!-- salon-carousel.component.html -->
<div class="carousel-container  bg-black  ">
  <div class="carousel-inner " *ngIf="serviciosLista.length > 0">
    <div class="carousel-slide  " [@slideAnimation]="slideState">
      <!-- Usamos la nueva animación con estado -->
      <div class="service-card " *ngFor="let s of currentSlideServices">
        <div class="service-image">
          <img [src]="s.imagen" [alt]="s.alt">
        </div>
        <div class="service-info">
          <h3 class="service-name">{{ s.nombre }}</h3>
          <p class="service-description">{{ s.descripcion }}</p>
          
        </div>
      </div>
    </div>
  </div>

  <div class="carousel-controls">
    <button class="control-prev" (click)="prevSlide()">
      <span>&lsaquo;</span>
    </button>
    
    <div class="carousel-indicators">
      <span 
        *ngFor="let _ of [].constructor(totalSlides); let i = index"
        class="indicator"
        [class.active]="i === currentIndex"
        (click)="goToSlide(i)">
      </span>
    </div>
    
    <button class="control-next" (click)="nextSlide()">
      <span>&rsaquo;</span>
    </button>
  </div>
</div>