<div class="bg-black h-20 flex items-center justify-center"><h4 style=" text-align: center; color: white; font-size: 20px;" >Servicios</h4></div>

<div class="container flex flex-row h-screen bg-black min-w-full">

    <div class="flex-row h-screen w-screen bg-black px-6 " *ngFor="let s of servicios">


        <div class="h-96 max-w-sm bg-gray-900 border border-b-0 rounded-lg border-gray-800 shadow shadow-gray-800
       dark:border-gray-900 " >
          <a href="#">
              <img class="rounded-t-lg h-96 w-96 p-3" [src]="s.imagen" [alt]="s.alt" />
          </a>
          <div class="p-5 h-52 bg-gray-900 border border-t-0 rounded-lg border-gray-800 shadow shadow-gray-800 flex flex-col items-center justify-center ">
              <a href="#">
                  <h5 class="mb-1 text-2xl font-bold tracking-tight text-white dark:text-white">{{s.nombre}}</h5>
              </a>
              <p class="mb-3 font-normal text-white  text-center">{{s.descripcion}}</p>
              <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                  Ver Precios
                   <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                  </svg>
              </a>
          </div>
      
      
      </div>
      


</div>








</div>
