<main id="Acerca" class="pt-6 pb-6 bg-black">
  <div class="min-h-screen bg-black text-white flex flex-col md:flex-row">
    <div class="md:w-1/2 p-10 flex flex-col justify-center items-end text-left">
      <h1 class="text-4xl font-medium uppercase tracking-wider mb-8">QUIENES SOMOS</h1>
      <p class="text-base leading-relaxed mb-6 max-w-[90%]">
        Somos un equipo de profesionales que se dedican a brindar un servicio de calidad a nuestros clientes. </p>
      <p class="text-base leading-relaxed mb-6 max-w-[90%]">
        Nuestra misión es obtener la imagen deseada por nuestros clientes, fortaleciendo su autoestima y logrando autoafirmación. Nos caracterizamos por hacer la diferencia.
      </p>
      <p class="text-base leading-relaxed mb-6 max-w-[90%]">
        La empatía de nuestros profesionales selectos permite alcanzar la mejor expresión de nuestros usuarios.
      </p>
      <p class="text-base leading-relaxed mb-6 max-w-[90%]">
        Abogamos por una percepción disruptiva de la realidad estética, donde múltiples percepciones de belleza conviven entre sí.
         Velamos por la inclusión, vetamos los estereotipos, repudiamos la discriminación y los juicios.
          Somos la peluquería más auténtica y distintiva del rubro, somos referentes para nuestros competidores, y deseamos mantenerlo; para eso fomentamos el compromiso, 
          el compañerismo y el respeto por parte de nuestros colaboradores.
      </p>
    </div>
    <div class="md:w-1/2">
      <img src="/assets/img/fondos/peluqueria_fondo_principal.jpg" alt="" class="w-full h-full object-cover">
    </div>
  </div>
</main>

