/*envia mensaje a wsp*/

.contactoWSP {
  z-index: 5;
  position: relative;
  bottom: 90px;
  right: 10px;
  left: 95%;
  height: 0;
  width: 0px;
  position: fixed;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

/* nota y ejemplo para otras animaciones:
   para hacer la animación hay que decir donde va a estar el objeto en cada momento de la animación
  
    0%, 20%,50%,80%,100% {
     transform: translateY(0);
    
    }
    40% {
     transform: translateY(-30px);
    }
  
    60% {
     transform:translateY(-15px);
    
    }
  
  */

.contactoWSP button {
  background-color: transparent;
  border: none;
}

.contactoWSP button img {
  width: 50px;
  height: 50px;
}

.contactoWSP button:hover {
  cursor: pointer;
}

.contactoWSP p {
  text-align: start;
  color: white;
  font-size: 10px;
}
